<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="GeoStrike-Game.styles.css" />

    <link rel="stylesheet" href="styles/Application.css" />

    <link rel="stylesheet" href="styles/NavMenu.css"/>
    <link rel="stylesheet" href="styles/GuessEngine.css" />
    <link rel="stylesheet" href="styles/MapController.css" />

    <link rel="icon" type="image/png" href="images/favicon.png" />
    <HeadOutlet />
</head>

<body>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

    <script src="script/mapgenerator.js"></script>
    <script src="_framework/blazor.web.js"></script>

    <Routes />
</body>
</html>
