@page "/AdvancedMode"
@rendermode InteractiveServer

<PageTitle>GeoStrike - Advanced</PageTitle>

<div class="main-advanced">
    <div class="advanced-container">
        <MapController></MapController>
    </div>
</div>

@code {

}
