@page "/"
@page "/BeginnerMode"
@rendermode InteractiveServer

<PageTitle>Beginner Mode</PageTitle>

<div class="main-beginner">
    <div class="beginner-container">
        <MapController></MapController>
    </div>
</div>

@code {
    
}
