@page "/"
@page "/BeginnerMode"
@rendermode InteractiveServer

<PageTitle>GeoStrike - Beginner</PageTitle>

<div class="main-beginner">
    <div class="beginner-container">
        <GlobeController></GlobeController>
    </div>
</div>

@code {
    
}
