@page "/MainGameplay"
@rendermode InteractiveServer

<PageTitle>MainGameplay</PageTitle>

<h1>Number</h1>

<p role="status">Code Number: @currentCount</p>

<button class="btn btn-primary" @onclick="() => IncrementCount(5)">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount(int number)
    {
        currentCount = number;
    }
}
