@page "/MediumMode"
@rendermode InteractiveServer

<PageTitle>GeoStrike - Medium</PageTitle>

<div class="main-medium">
    <div class="medium-container">
        <MapController></MapController>
    </div>
</div>

@code {

}
