@page "/MediumMode"
@rendermode InteractiveServer

<PageTitle>Medium Mode</PageTitle>

<div class="main-medium">
    <div class="medium-container">
        <MapController></MapController>
    </div>
</div>

@code {

}
