@page "/MediumMode"
@rendermode InteractiveServer

<PageTitle>GeoStrike - Medium</PageTitle>

<div class="main-medium">
    <div class="medium-container">
        <GlobeController></GlobeController>
    </div>
</div>

@code {

}
