@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.main-beginner, .main-medium, .main-advanced {
    flex: 1;
    padding: 1rem 10vw;
    min-height: 94vh;
    padding-top: 13vh;
    padding-bottom: 13vh;
    width: 100%;
    position: relative;
}

.beginner-container, .medium-container, .advanced-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 68vh;
}

.main-beginner {
    background: radial-gradient(circle at bottom left, rgba(144, 238, 144, 0.67) 0%, rgba(255, 250, 250, 0.8) 24%, snow 100%);
}

.main-medium {
    background: radial-gradient(circle at bottom left, rgba(243, 135, 0, 0.35) 0%, rgba(255, 250, 250, 0.8) 24%, snow 100%);
}

.main-advanced {
    background: radial-gradient(circle at bottom left, rgba(108, 46, 155, 0.38) 0%, rgba(255, 250, 250, 0.8) 24%, snow 100%);
}

#mode-beginner {
    color: #14872d;
}

#mode-medium {
    color: rgb(243, 135, 1);
}

#mode-advanced {
    color: rgb(111, 42, 198);
}

#restart-beginner, #skip-beginner {
    background-color: #14872d;
}

#restart-medium, #skip-medium {
    background-color: rgb(243, 135, 1);
}

#restart-advanced, #skip-advanced {
    background-color: rgb(111, 42, 198);
}

#restart-beginner:hover, #skip-beginner:hover {
    background-color: #1fa94a;
}

#restart-medium:hover, #skip-medium:hover {
    background-color: rgb(255, 156, 33);
}

#restart-advanced:hover, #skip-advanced:hover {
    background-color: rgb(140, 62, 239);
}
