
.question {
    width: 40%;
    height: 100%;
    justify-content: center; 
}

.question-text-container {
    height: 70%;
    margin-bottom: 1.4vh;
}

.question-up-section {
    height: 60%;
}

.question-down-section {
    height: 40%;
}

.question-category {
    font-size: 1.7vh;
    padding-bottom: 0.1vh;
    text-transform: uppercase;
    color: rgb(35, 35, 35);
    font-style: italic;
}

.question-text{
    font-size: 1.9vmax;
}

.question-buttons {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 1vh;
    width: 100%; 
    justify-content: flex-start; 
}

.player-score-container, .question-text-container {
    backdrop-filter: blur(25px) saturate(200%);
    -webkit-backdrop-filter: blur(25px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    max-width: 100%;
    padding: 1vmin;
    word-wrap: break-word;
}

.player-score{
    margin-top: 2vh;
}

.player-score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: 5vh;
    padding-bottom: 5vh;
    box-sizing: border-box;
    height: 28%;
}

.player-score, .player-best-score {
    font-size: 2.2vh;
}

#player-best-score-icon {
   padding-right: 1.4vh;
}

#player-score-icon {
    padding-left: 0.3vh;
    padding-right: 1.7vh;
}

.map {
    width: 60%;
    height: 100%;
    padding-left: 1.5vh;
}

.mode-class {
    font-size: 1.13em;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.to-skip {
    font-size: clamp(0.6rem, 1.5vmin, 0.9rem);
    margin: 0;
    white-space: nowrap; 
    flex-shrink: 0; 
    order: 1; 
    margin-top: 0.5vh; 
}

#chartdiv {
    width: 100%;
    height: 100%;
}

.restart-button, .skip-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    padding: 5px 10px;
    letter-spacing: 0.5px;
    font-weight: 600;
    flex-shrink: 1; 
    min-width: max-content; 
}

.restart-button:hover, .skip-button:hover {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    filter: brightness(1.04);
}

.button-text{
    color: white;
    font-weight: 500;
    font-size: 0.8em;
}

@media (max-width: 825px), (max-width: 1150px) and (min-height: 1200px) {
    .map, .question {
        width: 100%;
        height: auto;
        padding-left: 0;
    }
    .map {
        height: 60vh;
    }
    .beginner-container, .medium-container, .advanced-container {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }
    html, body {
        overflow: auto;
    }
    .main-beginner, .main-medium, .main-advanced {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    .player-score-container {
        padding-top: 1vh;
        padding-bottom: 2vh;
    }
}

@media (max-width: 430px) {
    .map {
        height: 80vw; 
        width: 100%;
        padding-left: 0; 
    }
}

@media (max-height: 810px) and (max-width: 810px) {
    .map {
        height: 65vw;
        width: 100%;
    }
}

@media (min-width: 1164px) and (min-height: 625px) {
    .player-score-container, .question-text-container {
        padding: 3vmin;
    }
    .question-up-section {
        height: 70%;
    }
    .question-down-section {
        height: 30%;
    }
    .map, .question {
        height: 100%;
    }
    .map {
        width: 70%;
    }
    .main-beginner, .main-medium, .main-advanced {
        padding-top: 13vh;
        padding-bottom: 13vh;
    }
    .beginner-container, .medium-container, .advanced-container {
        height: 68vh;
    }
    .player-score, .player-best-score {
        font-size: 2.5vh;
    }
}

@media (min-height: 690px) {
    .question-text {
        font-size: 2vmax;
    }
    .button-text {
        font-size: 1em;
    }
    .question-up-section {
        height: 60%;
    }
    .question-down-section {
        height: 40%;
    }
}

@media (min-width: 1600px) {
    .player-score-container, .question-text-container {
        padding: 5vmin;
    }
    .question-up-section {
        height: 80%;
    }
    .question-down-section {
        height: 20%;
    }
    .beginner-container, .medium-container, .advanced-container {
        height: 78vh;
    }
    .main-beginner, .main-medium, .main-advanced {
        padding-top: 8vh;
        padding-bottom: 8vh;
    }
    .map {
        width: 70%;
    }
    .question {
        width: 30%;
    }
    .to-skip{
        margin-top: 1.8vh;
    }
}

@media (max-height: 980px) and (max-width: 480px) {
    .map {
        width: 120%;
        height: 40vh;
    }
    .question {
        margin-top: 2.5vh;
    }
}

@media (max-width: 400px) {
    .question-text {
        font-size: 2.6vmax; 
    }
    .player-score-container {
        padding-top: 0.8vh;
        padding-bottom: 0.8vh;
        padding-left: 0.8vh;
        padding-right: 0.8vh;
    }
}
