
.map-controller-container {
    position: fixed;
    height: 300px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

#chartdiv {
    width: 100%;
    height: 500px;
}
