
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.navigation-bar {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 6vh;
    background-color: rgb(2, 2, 2);
    opacity: 0.95;
    align-items: center;
    padding: 25px;
    z-index: 1000;
    padding-left: 10vw;
    padding-right: 10vw;
}

.navigation-element {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    margin-right: 1.7rem;
    font-size: 17px;
    letter-spacing: 1.15px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-style: italic;
    transition: all 0.3s ease-in-out;
}

.navigation-logo {
    width: 40.5px;
    height: 40.5px;
    margin-right: 2.3vmax;
}

.navigation-more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 13px;
    text-decoration: none;
    margin-left: auto;
}

.navigation-git, .navigation-contact {
    color: #303030;
    font-size: 26px;
    text-decoration: none;
    transition: color 0.3s;
}

.navigation-git:hover, .navigation-contact:hover {
    color: lightgray;
}

#beginner:hover {
    color: rgba(255, 255, 255, 0.90);
    text-shadow: 0 0 20px rgb(0, 255, 136), 0 0 30px rgba(0, 220, 110, 0.9), 0 0 40px rgba(0, 180, 90, 0.7);
}

#medium:hover {
    color: rgba(255, 255, 255, 0.90);
    text-shadow: 0 0 20px rgb(255, 153, 0), 0 0 30px rgba(255, 120, 0, 0.9), 0 0 40px rgba(220, 90, 0, 0.7); 
}

#advanced:hover {
    color: rgba(255, 255, 255, 0.90);
    text-shadow: 0 0 20px rgb(255, 64, 255), 0 0 30px rgb(230, 50, 230), 0 0 40px rgba(200, 30, 200, 0.7);
}