<div class="footer">
	<div class="footer-logo">
		<p>GeoStrike the Game</p>
	</div>
	<ul class="footer-elements">
		<li><a href="#">Introduction</a></li>
		<li><a href="#">Game</a></li>
		<li><a href="#">FAQ</a></li>
		<li><a href="#">Legacy</a></li>
		<li><a href="#">About</a></li>
	</ul>
	<div class="footer-copyright">
		<small><p>© 2025 Geo-Strike Game. All rights reserved</p></small>
	</div>
</div>