@inherits LayoutComponentBase

<div class="page">
    <header class="navigationbar">
        <NavMenu />
    </header>

    <main class="content" style="padding-top: 60px;">
        @Body
    </main>

    <footer class="footer">

    </footer>
</div>

