@inherits LayoutComponentBase

<div class="page">
    <header class="navigation-bar-container">
       <NavigationBar></NavigationBar>
    </header>

    <main class="main-content-container">
        @Body
    </main>

    <footer class="footer-container">
        <Footer></Footer>
    </footer>
</div>

