@inject ModeService ModeService

<nav class="navigation-bar">
    <img class="navigation-logo" src=@ModeService.LogoStyle>
    <div class="navigation-elements-container">
        <a href="/BeginnerMode" class="navigation-element" id="beginner">Beginner</a>
        <a href="/MediumMode" class="navigation-element" id="medium">Medium</a>
        <a href="/AdvancedMode" class="navigation-element" id="advanced">Advanced</a>
    </div>
    <div class="navigation-more">
        <a href="https://github.com/Borejson1/GeoStrike-Game" class="navigation-git" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://pl.linkedin.com/" class="navigation-contact" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</nav>
