
<nav class="navigation-bar">
    <a href="/" class="navigation-logo">🗺️</a>
    <a href="/BeginnerMode" class="navigation-element">Beginner</a>
    <a href="/MediumMode" class="navigation-element">Medium</a>
    <a href="/AdvancedMode" class="navigation-element">Advanced</a>
</nav>
