@rendermode InteractiveServer

<div class="question-container">
    <p>@category</p>
    <p>@question</p>
    <button @onclick=SetQuestionContent>confirm</button>
</div>

@code {
    public List<Questions> QuestionsList;

    public string question = "";
    public string correctAnswer = "";
    public string category = "";

    public class Questions
    {
        public string question { get; set; }
        public string correctAnswer { get; set; }
        public string category { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        string json = System.IO.File.ReadAllText("wwwroot/data/questions.json");
        QuestionsList = JsonConvert.DeserializeObject<List<Questions>>(json);
        SetQuestionContent();
    }

    public void SetQuestionContent()
    {
        Random random = new Random();
        int number = random.Next(QuestionsList.Count);

        question = QuestionsList[number].question;
        correctAnswer = QuestionsList[number].correctAnswer;
        category = QuestionsList[number].category;
    }
}