@rendermode InteractiveServer

<div class="questionplace">
    <p>@category</p>
    <p>@question</p>
    <p>@correctAnswer</p>
    <button class="button" @onclick=generateQuestion>confirm</button>
    <p class="country"></p>
</div>

@code {

    public string category = "none";
    public string question = "none";
    public string correctAnswer = "none";
    public List<Questions> questions;

    public class Questions
    {
        public string question { get; set; }
        public string correctAnswer { get; set; }
        public string category { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        string json = System.IO.File.ReadAllText("wwwroot/data/questions.json");
        questions = JsonConvert.DeserializeObject<List<Questions>>(json);
        generateQuestion();
    }

    public void generateQuestion()
    {
        Random random = new Random();
        int number = random.Next(questions.Count);

        question = questions[number].question;
        correctAnswer = questions[number].correctAnswer;
        category = questions[number].category;
    }

}