 @rendermode InteractiveServer 
 @inject IJSRuntime JS 

<div id="chartdiv"></div>

@code {
    private bool mapInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !mapInitialized)
        {
            mapInitialized = true;
            await mapGenerate();
        }
    }

    public async Task mapGenerate() 
    { 
         await JS.InvokeVoidAsync("CreateMapChart"); 
    } 
 } 
