@rendermode InteractiveServer
@implements IAsyncDisposable
@inject IJSRuntime JS
@inject ProtectedLocalStorage ProtectedLocalStore

<div class="question">
    <div class="question-text-container">
        <div class="question-up-section">
            <p class="question-category">@QuestionCategory</p>
            <p class="question-text">@QuestionText</p>
        </div>
        <div class="question-down-section">
            <p class="game-mode">Beginner mode</p>
            <div class="question-buttons">
                <button class="restart-button"><div class="button-text" @onclick=RestartScore>Restart</div></button>
                <button class="skip-button"><div class="button-text" @onclick=SkipQuestion>Skip Question</div></button>
                <p class="to-skip">(@SkipsRemaining skips remaining)</p>
            </div>
        </div>
    </div>
    <div class="player-score-container">
        <p class="player-score"><i id="player-score-icon" class="fa-solid fa-medal"></i>Your score: @PlayerGlobalScore</p>
        <p class="player-best-score"><i id="player-best-score-icon" class="fa-solid fa-ranking-star"></i>Highest score: @PlayerBestScore</p>
    </div>
</div>
<div class="map">
    <div id="chartdiv"></div>
</div>

@code {
    public List<Question> QuestionsList = new();

    public int PlayerGlobalScore = 0;
    public int PlayerBestScore = 0;
    public int SkipsRemaining = 5;
    public string QuestionCategory = "";
    public string QuestionText = "";

    private DotNetObjectReference<MapController>? dotNetHelper;

    private bool mapInitialized = false;
    private bool bestScoreInitialized = false;
    private string selectedCountry = "";
    private string correctAnswer = "";

    public class Question
    {
        public string question { get; set; } = "";
        public string correctAnswer { get; set; } = "";
        public string category { get; set; } = "";
    }

    protected override async Task OnInitializedAsync()
    {
        dotNetHelper = DotNetObjectReference.Create(this);

        string json = await System.IO.File.ReadAllTextAsync("wwwroot/data/beginner.json");
        QuestionsList = JsonConvert.DeserializeObject<List<Question>>(json);
        SetQuestionValues();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if(!bestScoreInitialized)
            {
                await LoadBestScoreCount();
                bestScoreInitialized = true;
                StateHasChanged();
            }
            if(!mapInitialized)
            {
                mapInitialized = true;
                await JS.InvokeVoidAsync("CreateMapChart", dotNetHelper);
            }
        }
    }

    public void SetQuestionValues()
    {
        if (QuestionsList.Count == 0) return;

        var random = new Random();
        int index = random.Next(QuestionsList.Count);

        QuestionText = QuestionsList[index].question;
        correctAnswer = QuestionsList[index].correctAnswer;
        QuestionCategory = QuestionsList[index].category;
        StateHasChanged();
    }

    [JSInvokable]
    public void CheckAnswer(string countryName)
    {
        selectedCountry = countryName;

        if (selectedCountry == correctAnswer)
        {
            PlayerGlobalScore += 1;
            if(PlayerGlobalScore > PlayerBestScore)
            {
                PlayerBestScore = PlayerGlobalScore;
                UpdateBestScoreCount();
            }
        }
        else
        {
            PlayerGlobalScore = 0;
        }
        SetQuestionValues();
        StateHasChanged();
    }

    public void RestartScore()
    {
        PlayerGlobalScore = 0;
        SkipsRemaining = 5;
        SetQuestionValues();
    }

    public void SkipQuestion()
    {
        if (SkipsRemaining != 0)
        {
            SkipsRemaining -= 1;
            SetQuestionValues();
        }
    }

    private async Task UpdateBestScoreCount()
    {
        await ProtectedLocalStore.SetAsync("playerBestScore", PlayerBestScore);
    }

    private async Task LoadBestScoreCount()
    {
        var result = await ProtectedLocalStore.GetAsync<int>("playerBestScore");
        if (result.Success)
        {
            PlayerBestScore = result.Value;
        }
    }

    public async ValueTask DisposeAsync()
    {
        dotNetHelper?.Dispose();
    }
}