 @rendermode InteractiveServer 
 @inject IJSRuntime JS 

<div id="chartdiv"></div>

@code {
    private bool MapInitialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !MapInitialized)
        {
            MapInitialized = true;
            await GenerateChart();
        }
    }

    public async Task GenerateChart() 
    { 
         await JS.InvokeVoidAsync("CreateMapChart"); 
    } 
 } 
